div
{
    border-radius: 5px;
}
#header
{
    position: fixed;
    z-index: 1;
    height:40px;
    width: 98%;
    background-color: lightblue;
    margin-bottom: 10px
    }

#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}
#profile{
    position: fixed;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-left: 500px;
    animation-name: designation;
    animation-duration: 6s;
    animation-delay: 2s;
    margin-top: 0px;
    color: black;

}

@keyframes designation{

    from {background-color: red;}
    to {background-color: orange;}
}

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
    }

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    }


    
#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
    }
    
h3
{
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed orange;
    }
td
{
    padding: 2px;
    border: 1px solid yellowgreen;
    }

#project-name
{
    font-weight:bold;
    }

#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }